# vim: set syntax=swayconfig :
# keybindings for sway

# Variables
set {
	$Alt Mod1
	$Super Mod4
	$term foot
	$menu fuzzel
	$scriptd ~/.config/sway/scripts
}

# Sway Control
bindsym {
	$Super+Shift+c reload
	$Super+q kill
	$Alt+F4 kill
	$Super+Shift+e exit
}

floating_modifier $Super normal

mode "resize" bindsym {
	Left resize grow width 20px
	Right resize shrink width 20px
	Up resize grow height 20px
	Down resize shrink height 20px
	h resize grow width 20px
	l resize shrink width 20px
	k resize grow height 20px
	j resize shrink height 20px
	Return mode "default"
	Escape mode "default"
}
bindsym $Super+r mode "resize"

# Window splitting and mode
bindsym {
	$Super+x splitt
	$Super+c split none
	$Super+v splitv
	$Super+b splith
	$Super+e layout toggle tabbed stacking splitv splith
	$Super+f fullscreen
	$Super+space floating toggle
	$Super+Shift+space focus mode_toggle
	$Super+Shift+b border toggle
	$Super+Shift+s sticky toggle
}

# Focus
bindsym {
	$Super+a focus parent
	$Super+Left focus left
	$Super+Down focus down
	$Super+Up focus up
	$Super+Right focus right
	$Super+Tab exec pkill fuzzel || $scriptd/window-select.sh

	$Super+h focus left
	$Super+j focus down
	$Super+k focus up
	$Super+l focus right
}

# Move containers
bindsym {
	# refocus after move to pull cursor along (if mouse_warping container)
	$Super+Shift+Left move left; focus
	$Super+Shift+Down move down; focus
	$Super+Shift+Up move up; focus
	$Super+Shift+Right move right; focus

	$Super+Shift+h move left; focus
	$Super+Shift+j move down; focus
	$Super+Shift+k move up; focus
	$Super+Shift+l move right; focus

	$Super+Shift+KP_Left move left; focus
	$Super+Shift+KP_Down move down; focus
	$Super+Shift+KP_Up move up; focus
	$Super+Shift+KP_Right move right; focus
}

# Workspace focus
bindsym {
	$Super+1 workspace number 1
	$Super+2 workspace number 2
	$Super+3 workspace number 3
	$Super+4 workspace number 4
	$Super+5 workspace number 5
	$Super+6 workspace number 6
	$Super+7 workspace number 7
	$Super+8 workspace number 8
	$Super+9 workspace number 9
	$Super+0 workspace number 10
	$Super+Minus scratchpad show

	$Super+n exec $scriptd/workspace-new.sh "open"
	$Alt+Tab workspace back_and_forth 
	Ctrl+$Super+Right workspace next
	Ctrl+$Super+Left workspace prev
}

# Workspace moving
bindsym {
	$Super+Shift+1 move container to workspace number 1, workspace number 1
	$Super+Shift+2 move container to workspace number 2, workspace number 2
	$Super+Shift+3 move container to workspace number 3, workspace number 3
	$Super+Shift+4 move container to workspace number 4, workspace number 4
	$Super+Shift+5 move container to workspace number 5, workspace number 5
	$Super+Shift+6 move container to workspace number 6, workspace number 6
	$Super+Shift+7 move container to workspace number 7, workspace number 7
	$Super+Shift+8 move container to workspace number 8, workspace number 8
	$Super+Shift+9 move container to workspace number 9, workspace number 9
	$Super+Shift+0 move container to workspace number 10, workspace number 10
	$Super+Shift+Minus move scratchpad

	$Super+Shift+n exec $scriptd/workspace-new.sh "move"
	$Super+Ctrl+n exec $scriptd/workspace-new.sh "send"
	$Super+Shift+Ctrl+Right move container to workspace next_on_output, \
		workspace next_on_output
	$Super+Shift+Ctrl+Left move container to workspace prev_on_output, \
		workspace prev_on_output

	$Super+m mark --toggle main 
	$Super+s swap container with mark main 
	$Super+Shift+m floating disable, move to output right, focus output right 
}

bindsym {
	$Super+KP_Right resize set width 33 ppt
	$Super+KP_Left  resize set width 67 ppt
	$Super+KP_Down  resize set height 67 ppt
	$Super+KP_Up    resize set height 33 ppt
	$Super+KP_Home  exec $scriptd/corner.sh -m tl
	$Super+KP_Prior exec $scriptd/corner.sh -m tr
	$Super+KP_Begin exec $scriptd/corner.sh -m c
	$Super+KP_End   exec $scriptd/corner.sh -m bl
	$Super+KP_Next  exec $scriptd/corner.sh -m br
}

bindsym {
	$Super+$Alt+KP_Home [con_id="__focused__"] \
		exec $scriptd/corner.sh -s tl
	$Super+$Alt+KP_Prior [con_id="__focused__"] \
		exec $scriptd/corner.sh -s tr
	$Super+$Alt+KP_Begin [con_id="__focused__"] \
		exec $scriptd/corner.sh -s c
	$Super+$Alt+KP_End [con_id="__focused__"] \
		exec $scriptd/corner.sh -s bl
	$Super+$Alt+KP_Next [con_id="__focused__"] \
		exec $scriptd/corner.sh -s br
}

bindsym {
	$Super+Shift+KP_Home [con_id="__focused__"] \
		exec $scriptd/corner.sh tl
	$Super+Shift+KP_Prior [con_id="__focused__"] \
		exec $scriptd/corner.sh tr
	$Super+Shift+KP_Begin [con_id="__focused__"] \
		exec $scriptd/corner.sh c
	$Super+Shift+KP_End [con_id="__focused__"] \
		exec $scriptd/corner.sh bl
	$Super+Shift+KP_Next [con_id="__focused__"] \
		exec $scriptd/corner.sh br
}

# Media Keys
bindsym {
	--locked XF86AudioRaiseVolume exec volume.sh up
	--locked XF86AudioLowerVolume exec volume.sh down
	--no-repeat XF86AudioMute exec volume.sh mute
	--no-repeat XF86AudioMicMute exec volume.sh mic-mute

	--locked XF86AudioNext exec playerctl position 5+
	--locked XF86AudioPrev exec playerctl position 5-
	--locked Shift+XF86AudioNext exec playerctl next
	--locked Shift+XF86AudioPrev exec playerctl previous
	--locked XF86AudioPlay exec playerctl play-pause
	--locked XF86AudioStop exec playerctl stop
}

# Monitor Control
bindsym {
	--locked XF86MonBrightnessUp exec brightnessctl -d 'amdgpu_bl1' -q set '+10%'
	--locked XF86MonBrightnessDown exec brightnessctl -d 'amdgpu_bl1' -q set '10%-'
	--no-repeat XF86Favorites exec killall -SIGUSR1 wlsunset
	--locked --no-repeat $Super+o output 'eDP-1' toggle
	--locked --no-repeat $Super+Shift+o output 'HDMI-A-1' toggle
}

# Print Screen
bindsym {
	Print exec $scriptd/screenshot.sh selected
	Control+Print exec $scriptd/screenshot.sh focused
	$Super+Print exec $scriptd/screenshot.sh all
}

# App Launching
bindsym {
	XF86PowerOff exec pkill fuzzel || power-menu.sh
	$Super+Return exec $term -d none
	$Super+Shift+Return exec $term -a $term.float
	$Super+d exec pkill fuzzel || $menu
	$Super+p exec secrets
	XF86Calculator exec qalculate-gtk
}

